<div class="container login-container">
  <div class="card card-login mx-auto text-center">
    <div class="card-header bg-nexadvisor text-white">
      <img src="assets/logo.png" alt="Logo" />
      <h2 *ngIf="tipoUsuario === 'asesor'">Login Asesor</h2>
      <h2 *ngIf="tipoUsuario === 'estudiante'">Login Estudiante</h2>
    </div>
    <div class="card-body">
      <form (ngSubmit)="login()" autocomplete="off">
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
          </div>
          <input
            type="email"
            [(ngModel)]="email"
            name="email"
            class="form-control"
            placeholder="Correo electrónico"
            required
            autocomplete="off"
          />
        </div>

        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-lock"></i></span>
          </div>
          <input
            type="password"
            [(ngModel)]="password"
            name="password"
            class="form-control"
            placeholder="Contraseña"
            required
            autocomplete="new-password"
          />
        </div>

        <div *ngIf="errorLogin" class="error-message">
          {{ errorLogin }}
        </div>

        <div class="form-group text-end">
          <button type="submit" class="btn btn-nex">Iniciar sesión</button>
        </div>
      </form>

      <a (click)="irARegistro()" class="forgot">Registrar</a>
      <br />
      <a
        [routerLink]="['/recuperar-contrasena']"
        [queryParams]="{ rol: tipoUsuario }"
        class="forgot"
      >
        ¿Olvidaste tu contraseña?
      </a>
    </div>
  </div>
</div>
