<app-navbar></app-navbar>

<div class="dashboard-container">
  <div class="dashboard-card">
    <div class="dashboard-content">
      <div class="dashboard-text">
        <h2>👨‍🏫 Bienvenido a tu Panel Asesor</h2>
        <p>
          En tu panel principal podrás gestionar tus horarios disponibles, revisar y aceptar reservas de los estudiantes, actualizar tu perfil profesional y mucho más.
          Tu rol es clave para guiar y preparar a los futuros profesionales en su camino hacia el mundo laboral.
        </p>
      </div>

      <div class="foto-asesor-wrapper">
        <img src="assets/asesor.webp" alt="Foto del Asesor" class="foto-asesor" />
      </div>
    </div>
  </div>
</div>
