<app-navbar></app-navbar>

<div class="inicio-estudiante-container">
  <div class="card-bienvenida mejorada">
    <div class="contenido-texto">
      <h1 class="titulo">Bienvenido a tu Panel Estudiante</h1>
      <p class="subtitulo">
        En NexAdvisor podrás conectar con asesores especializados para fortalecer tu perfil profesional, prepararte para tus postulaciones
        laborales y desarrollar habilidades clave para destacar en el mercado. Gestiona tus reservas, participa en el foro y mucho más!.
      </p>
    </div>
    <div class="contenido-imagen">
      <img src="assets/estudiante_dashboard.avif" alt="Estudiante" class="ilustracion" />
    </div>
  </div>
</div>
