<div class="reservas-container">
  <h2>Reservas</h2> 
  <table class="reservas-table">
    <thead>
      <tr>
        <th class="centrado">Estudiante</th>
        <th class="centrado">Fecha</th>
        <th class="centrado">Hora</th>
        <th class="centrado">Estado</th>
        <th class="centrado">Comentario</th>
        <th class="centrado">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reserva of reservas">
        <td>{{ reserva.estudianteNombre || 'Sin nombre' }}</td>
        <td>{{ reserva.fechaReserva | date:'dd/MM/yyyy' }}</td>
        <td>{{ reserva.horaReserva }}</td>
        <td>{{ reserva.estado }}</td>
        <td>
          <input type="text" [(ngModel)]="comentarios[reserva.id]" placeholder="Comentario" />
        </td>
        <td>
          <button class="btn btn-responder" (click)="actualizarComentario(reserva)">Responder</button>
          <button class="btn btn-aceptar" (click)="actualizarEstado(reserva, 'Aceptada')">Aceptar</button>
          <button class="btn btn-rechazar" (click)="actualizarEstado(reserva, 'Rechazada')">Rechazar</button>
          <button class="btn btn-eliminar" (click)="eliminarReserva(reserva.id)">Eliminar</button>
          <button 
              class="btn btn-descargar"
              *ngIf="reserva.tieneCurriculum" 
              (click)="descargarCV(reserva.id)">
              Descargar CV
           </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div style="text-align: center; margin-top: 25px;">
  <button (click)="volverDashboard()" class="btn-volver">⬅️ Volver al Panel</button>
</div>
</div>
