<nav class="navbar">
  <div class="greeting" *ngIf="user">
    Bienvenido, {{ user.nombre }}
  </div>

  <!-- Menú para estudiante -->
  <div class="menu" *ngIf="user?.tipoUsuario === 'estudiante'">
    <ul>
      <li><a routerLink="/perfil-estudiante">Ver perfil</a></li>
      <li><a routerLink="/contactar">Contactar</a></li>
      <li><a routerLink="/chats">Ver Puntuacion</a></li>
      <li><a routerLink="/foro">Foro</a></li>
      <li><a routerLink="/buscar-asesores">Buscar Asesores</a></li>
      <li><a href="#" (click)="logout()">Cerrar sesión</a></li>
    </ul>
  </div>

  <!-- Menú para asesor -->
  <div class="menu" *ngIf="user?.tipoUsuario === 'asesor'">
    <ul>
      <a routerLink="/perfil-estudiante">Ver perfil</a>
      <li><a routerLink="/reservas-asesor">Reservas</a></li>
      <li><a routerLink="/comentarios-asesor">Comentarios</a></li>
      <li><a routerLink="/horarios">Horarios</a></li>
      <li><a href="#" (click)="logout()">Cerrar sesión</a></li>
    </ul>
  </div>
</nav>
