<nav class="navbar">
  <div class="navbar-left">
    <div class="greeting" *ngIf="user">
      👋 Bienvenido, <strong>{{ user.nombre }}</strong>
    </div>
  </div>

  <div class="navbar-right">
    <!-- Menú para estudiante -->
    <ul *ngIf="user?.tipoUsuario === 'estudiante'" class="menu">
      <li><a routerLink="/perfil-estudiante">Perfil</a></li>
      <li><a routerLink="/contactar">Contactar</a></li>
      <li><a routerLink="/solicitud">Solicitudes</a></li>
      <li><a routerLink="/ver-puntuacion">Puntuaciones</a></li>
      <li><a routerLink="/historial">Historial</a></li>
      <li><a routerLink="/foro">Foro</a></li>
      <li><a routerLink="/buscar-asesores">Buscar Asesores</a></li>
      <li><a href="#" (click)="logout()">Cerrar sesión</a></li>
    </ul>

   <!-- Menú para asesor -->
<ul *ngIf="user?.tipoUsuario === 'asesor'" class="menu">
  <!-- <li><a routerLink="/perfil-asesor">Perfil</a></li> -->
  <li><a routerLink="/reserva-asesor">Reservas</a></li>
  <li><a routerLink="/comentarios-asesor">Comentarios</a></li>
  <li><a routerLink="/comentarios-asesor">Notificaciones</a></li>
  <li><a routerLink="/horarios-asesor">Horarios</a></li>
  <li><a href="#" (click)="logout()">Cerrar sesión</a></li>
</ul>
  </div>
</nav>
